annotated-types==0.7.0
anyio==4.4.0
certifi==2024.8.30
charset-normalizer==3.3.2
elevenlabs==1.5.0
h11==0.14.0
httpcore==1.0.5
httpx==0.27.2
idna==3.8
pydantic==2.9.1
pydantic_core==2.23.3
requests==2.32.3
sniffio==1.3.1
typing_extensions==4.12.2
urllib3==2.2.2
websockets==13.0.1
openai==1.50.2
pydub==0.25.1
moviepy==1.0.3
Pillow==9.5.0 # https://stackoverflow.com/posts/76744441/revisions